@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  z-index: 5;
  /* pointer-events: none; */
}
#root * {
  transition: .4s;
  user-select: none;
}
.superProgress::-webkit-progress-bar{
  color: red;
}
.superProgress::-webkit-progress-bar {
  background-color: #C6C6C6;
}

.superProgress::-webkit-progress-value {
  background-color: #282828;
}

.superProgress::-moz-progress-bar {
  background-color: #282828;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #454545;
  border-radius: 1px;
}
::-webkit-scrollbar-corner{
  display: none;
}
.threeSceneInterface * {
  pointer-events: all;
  user-select: none;
}
img{
  image-rendering: pixelated;
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.textures{
  pointer-events: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
canvas {
  width: 86%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 300px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 2;
  cursor: grab;
}
::selection {
  background: black;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  padding: 4px 8px;
  white-space: nowrap;
}